---
permalink: php/shop-categories.php
sitemap:
  ignore: true
---
<?php
  $shop_categories = [
  {% for category in collections.shop_categories %}
    [
      "id" => "{{ category.data.id }}",
      "title" => "{{ category.data.title }}",
      "disabled" => {{ category.data.disabled or 'false' }},
      "inputPath" => "{{ category.inputPath | replace('./','') }}"
    ]{{',' if not loop.last }}
  {% endfor %}
  ];
// header('Content-Type: application/json');
// echo json_encode($shop_categories, JSON_PRETTY_PRINT);
?>
