:root {
  --size-200: 0.64rem;
  --size-300: 0.8rem;
  --size-400: 1rem;
  /*
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
  */
  --size-500: 1.25rem;
  --size-600: 1.563rem;
  --size-700: 1.953rem;
  --size-800: 2.441rem;
  --size-900: 3.052rem;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

body {
  background: #f3f3f3;
  color: #252525;
  line-height: 1.5;
  font-family: Georgia, serif;
}

:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  line-height: 1.3;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3 {
  font-size: var(--size-600);
}

p,
li {
  max-width: 60ch;
}

h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 25ch;
}

img {
  max-height: 90vh;
}

figure > img {
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin-top: 0.5rem;
  text-align: center;
}

figcaption > p {
  max-width: 80ch;
  font-size: var(--size-200);
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.post {
  --flow-space: var(--size-700);
  width: 100%;
  max-width: 85ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post time {
  --flow-space: var(--size-400);
  display: block;
}

.post :is(h2, h3) {
  --flow-space: var(--size-900);
}

.post :is(h2, h3) + * {
  --flow-space: var(--size-400);
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.post .full-bleed > * {
  max-width: 100ch;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.post .full-bleed,
.post .full-bleed + *,
.post figure,
.post figure + * {
  --flow-space: var(--size-900);
}

/* Tablet or bigger */

@media (min-width: 45em) {
  h1 {
    font-size: var(--size-900);
  }

  h2 {
    font-size: var(--size-700);
  }

  p {
    font-size: var(--size-500);
  }

  figcaption > p {
    font-size: var(--size-300);
  }

  blockquote p {
    font-size: var(--size-500);
    max-width: 40ch;
  }

  .post {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .post .full-bleed > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

