@supports(appearance:none) or (-webkit-appearance:none) or (-moz-appearance:none) {
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  textarea {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
}

:root {
  --input-bg:#F0F0F0;
}

.input {
  width:100%;
  max-width:100%;
  font-size:16px;
  font-family:var(--font-family-base);
  padding:0.25em 0.5em 0.15em;
  background-color:var(--input-bg);
  color:var(--color-dark);
  border:1px solid var(--color-shade2);
  border-radius:var(--radius, 0.4rem);
}

.input:not(textarea) {
  line-height:1;
  min-height:2.25rem;
}

.input[readonly] {
  border-style:dotted;
  cursor:not-allowed;
  color:#777;
}

.input[disabled] {
  cursor:not-allowed;
  background-color:var(--disabled-bg);
  color:var(--disabled-fg);
  border-color:var(--disabled-fg);
  box-shadow:none;
}

.input:focus {
  background-color:var(--color-light);
  outline:2px solid transparent;
  box-shadow:0 0 0 2px var(--button-focus);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#777;
  opacity:1;
}

::-moz-placeholder { /* Firefox 19+ */
  color:#777;
  opacity:1;
}

:-ms-input-placeholder { /* IE 10+ */
  color:#777;
  opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
  color:#777;
  opacity:1;
}

::placeholder {
  color:#777;
  opacity:1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  width:100%;
  max-width:100%;
  font-size:16px;
  font-family:var(--font-family-base);
  padding:0.25em 0.5em 0.15em;
  background-color:var(--color-autofill);
  color:var(--color-dark);
  border:1px solid var(--color-shade2);
  border-radius:var(--radius, 0.4rem);
  -webkit-text-fill-color:var(--color-dark);
  transition:background-color 5000s ease-in-out 0s;
  box-shadow:0 0 0px 1000px var(--color-autofill) inset;
}

input:-webkit-autofill:focus {
  box-shadow:0 0 0 2px var(--button-focus), 0 0 0px 1000px var(--color-autofill) inset;
}
