.background {
  --brightness:60%;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:0;
  padding:0;
  z-index:-2;
  filter:brightness(var(--brightness));
}

.background img,
.background picture {
  width:100%;
  height:100%;
}

.background img {
  object-fit:cover;
  object-position:center center;
}

.cover {
  width:100%;
  min-height:100%;
  object-fit:cover;
  object-position:center center;
}

.bg {
  z-index:-1;
}

.caption {
  font-size:var(--size-300);
  font-family:var(--font-family-alt);
  color:var(--color-shade2);
  text-align:center;
  margin-top:0.3em;
}

.caption.small {
  font-size:var(--size-200);
}

.caption a {
  text-decoration:underline;
}

.caption a:link { color:var(--color-shade2); }
.caption a:visited { color:var(--color-shade2); }
.caption a:hover { color:var(--color-shade3); }
.caption a:active { color:var(--color-shade3); }

.grecaptcha-badge {display:none;}

.cc-window,
.cc-window.cc-floating {
  font-size:var(--size-300);
  padding:1em;
}

.width100 {
  width:100%;
}

.height100 {
  height:100%;
}

.height100vh,
section.height100vh {
  height:100vh;
}

.min-height100vh {
  min-height:100vh;
}

@supports (background:-webkit-named-image(i)) {
  .height100vh {
    height:-webkit-fill-available;
  }
  .min-height100vh {
    min-height:-webkit-fill-available;
  }
}

.text-left {
  text-align:left;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}

.text-lowercase {
  text-transform:lowercase;
}

.cursor-pointer {
  cursor:pointer;
}

.shadow {
  box-shadow:0 0 20px rgba(0, 0, 0, 0.1);
}

.text-shadow {
  text-shadow:0 0 2px rgba(0,0,0,0.5), 0 0 8px rgba(0,0,0,0.2);
}

.img-shadow {
  box-shadow:3px 3px 12px rgba(0, 0, 0, 0.4);
}

.round {
  border-radius:var(--radius, 0.4em);
}

.round-box {
  padding:var(--box-padding, var(--size-400));
  border-radius:var(--box-border-radius, 0.4rem);
  border-width:var(--box-border-width, 1px);
}

/* ----- Horizontal ----- */

.horizontal {
  display:flex;
}

.horizontal.wrap {
  flex-wrap:wrap;
}

.horizontal.center {
  justify-content:center;
}

.horizontal.left {
  justify-content:flex-start;
}

.horizontal.right {
  justify-content:flex-end;
}

.horizontal.space-between {
  justify-content:space-between;
}

.horizontal.space-around {
  justify-content:space-around;
}

.horizontal.space-evenly {
  justify-content:space-evenly;
}

.horizontal.middle {
  align-items:center;
}

.horizontal.top {
  align-items:flex-start;
}

.horizontal.bottom {
  align-items:flex-end;
}

/* ----- Vertical ----- */

.vertical {
  display:flex;
  flex-direction:column;
}

.vertical.center {
  align-items:center;
}

.vertical.left {
  align-items:flex-start;
}

.vertical.right {
  align-items:flex-end;
}

.vertical.middle {
  justify-content:center;
}

.vertical.top {
  justify-content:flex-start;
}

.vertical.bottom {
  justify-content:flex-end;
}

/* ----- Wrapper ----- */

.wrapper {
  --wrapper-width:1200px;
  max-width:var(--wrapper-width);
  margin-left:auto;
  margin-right:auto;
  padding-left:var(--size-500);
  padding-right:var(--size-500);
}

.wrapper.page-wrapper {
  --wrapper-width:1500px;
}

.wrapper.text-wrapper {
  --wrapper-width:85ch;
}

.wrapper.no-wrapper {
  padding-left:0;
  padding-right:0;
  max-width:none;
}

@media screen and (min-width:750px) {
  .wrapper {
    padding-left:var(--size-800);
    padding-right:var(--size-800);
  }
}

/* ----- Canvas ----- */

.canvas {
  display:grid;
  grid-template-areas:'canvas';
  overflow:hidden;
}

.canvas.center {
  place-items:center;
}

.canvas.center.top {
  place-items:start center;
}

.canvas > * {
  grid-area:canvas;
}

/* ----- Banner Section ----- */

.banner-section {
  --section-padding:15vmin;
  --button-bg:var(--color-alt);
  --button-fg:var(--color-shade1);
  --button-border:var(--color-alt);
  --button-hover-bg:var(--color-shade1);
  --button-hover-fg:var(--color-alt);
  --button-hover-border:var(--color-shade3);
  --button-focus:var(--color-primary);
}
.banner-section > div {
  /* background-color:rgba(0,0,0,0.1); */
  border-radius:1em;
  backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);
  padding:1em;
}

/* ----- Spinner ----- */

@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

#spinner-icon {
  animation:spin 1.5s linear infinite;
}
#spinner-icon svg {
  margin:0;
}

/* ----- Buttons ----- */

.buttons {
  display:flex;
  justify-content:space-between;
}

@media screen and (max-width:450px) {
  .buttons {
    flex-direction:column;
    align-items:center;
  }

  .buttons > * + * {
    margin-top:1.5em;
    margin-bottom:0;
  }

  .buttons.swap {
    flex-direction:column-reverse;
  }

  .buttons.swap > * + * {
    margin-top:0;
    margin-bottom:1.5em;
  }
}

