.shop-product {
  --overlap:5vmin;
  display:grid;
  grid-template-columns:100%;
  padding-left:0;
  padding-right:0;
}

.shop-product .content {
  margin-top:calc(-1 * var(--overlap));
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  width:100vmin;
  padding:calc(2 * var(--overlap)) var(--overlap);
  box-shadow:inset 0 0 20vmin rgba(94,106,101,0.1);
}

.shop-product .image-wrapper {
  width:100%;
  max-width:calc(100vmin - 2 * var(--overlap));
  margin:0 auto;
}

.shop-product .image {
  height:0;
  padding-bottom:100%;
  overflow:hidden;
  position:relative;
}

.shop-product .slider-item {
  padding:0;
  border:1px solid rgba(0,0,0,0.1);
}

.shop-product .content h2 {
  margin-top:auto;
}

.shop-product .content h3 {
  text-transform:lowercase;
  color:var(--color-shade1);
}

.shop-product .content footer {
  --flow-space:0.5em;
  margin-top:1em;
}

.shop-product .content footer p {
  text-align:center;
  font-size:var(--size-300);
}

.shop-product .content .error {
  margin-top:1em;
}

@media screen and (min-width:750px) and (max-width:950px) {
  .shop-product {
    --overlap:7.5vmin;
    padding-left:var(--overlap);
    padding-right:var(--overlap);
  }
  .shop-product .content {
    width:calc(100vmin - 2 * var(--overlap));
    padding:var(--overlap);
  }
  .shop-product .content h2 {
    margin-top:1em;
  }
  .shop-product .image-wrapper {
    max-width:calc(100vmin - 4 * var(--overlap));
  }
}

@media screen and (min-width:950px) {
  .shop-product {
    grid-template-columns:5fr 6fr;
    padding-left:1em
  }
  .shop-product .content {
    padding:var(--overlap);
    padding-left:calc(2 * var(--overlap));
    margin:0;
    margin-left:calc(-1 * var(--overlap));
    width:calc(100% + var(--overlap));
  }
  .shop-product .content .button {
    margin-top:auto;
    margin-bottom:auto;
  }
.shop-product .content .error {
  margin-top:0;
}
.shop-product .content footer {
  margin-top:auto;
}
  .shop-product .image-wrapper {
    margin-top:var(--overlap);
    margin-bottom:var(--overlap);
  }
}

.shop-product .dot-container {
  position:absolute;
  bottom:0.5em;
  left:0;
  right:0;
}

.shop-product .slider-dot {
  color:white;
  background-color:rgba(0,0,0,0.3);
  border-radius:50%;
}
