{% extends "layouts/base.njk" %} 

{% block head %}
  {{ super() }}
  {% set css %}
  {% include "css/header.css" %}
  {% include "css/slider.css" %}
  {% include "css/postcard.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  <style>
  .split-pair {
    display: grid;
    grid-template-columns:1fr;
    position: relative;
  }
  .split-pair > * {
    overflow: hidden;
  }
  .split-pair img {
    object-fit: cover;
  }
  @media screen and (min-width: 750px) {
    .split-pair {
      grid-template-columns: 1fr 1fr;
    }
    .split-pair:nth-child(odd) > *:nth-child(odd) {
      order:2
    }
    .split-pair:nth-child(odd) > *:nth-child(even) {
      order:1
    }
  }

  .breakout-button {
    font-family: var(--font-family-alt);
    font-weight: 600;
    padding: 0.6rem 2rem;
    background: transparent;
    color: currentColor;
    border: 1px solid;
    transition: background 100ms ease;
    position: static;
    text-decoration: none;
  }
  .breakout-button,
  .breakout-button::before {
      cursor: pointer;
  }
  .breakout-button::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .breakout-button:focus {
    outline: none;
  }

  .breakout-button:hover {
    background: #333333;
  }
  .breakout-button:focus::before {
    outline: 1px solid #ffffff;
    outline-offset: -0.8rem;
  }

  </style>

  <main>
  {#
  <div style="width:100%;max-width:1200px;margin-left:auto;margin-right:auto">
    {% for item in homepage_grid %}
      <div class="split-pair">
        <figure>
          <div style="background-image:url('{% lqip path=item.image, params='/focus=auto/cover=1:1' %}')">
            {% if loop.index < 3 %}
              <img width="1200" height="1200" src="{% twic path=item.image, params='/focus=auto/cover=1200x1200' %}" alt="" loading="eager" />
            {% else %}
              <noscript><img width="1200" height="1200" src="{% twic path=item.image, params='/focus=auto/cover=1200x1200' %}" alt="" /></noscript>
              <img width="1200" height="1200" src="{% placeholder 1200,1200 %}" data-twic-src="{% twic_dyn path=item.image %}" data-twic-focus="auto" data-twic-transform="cover=1:1/max" data-twic-step="40" data-twic-bot="cover=1200x1200" alt="" />
            {% endif %}
          </div>
        </figure>
        <div style="position:static;background-color:rgba(0,0,0,0.05);display:grid;justify-content:center;align-items:center">
          <a class="breakout-button" href="{{ item.url }}"><h2>{{ item.text }}</h2></a>
        </div>
      </div>
    {% endfor %}
  </div>
  #}
  {% include "partials/reviews-section.njk" %}
  {% set left = true %}
  {% include "partials/reviews-section.njk" %}
  {% set left = false %}
  {% include "partials/reviews-section.njk" %}
  {% include "partials/instagram-gallery-section.njk" %}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
