---
layout: email/base.njk
permalink: php/email/contact-thankyou.html
sitemap:
  ignore: true
---
<table role="presentation" width="100%">
  <tr>
    <td style="padding:40px 10px">
      <h2>Hi %firstname%,</h2>
      <p>We have received your message and will endeavour to respond to your enquiry as soon as possible.</p>
      <p>Kind regards<br>Annwyn Tobin</p>
    </td>
  </tr>
  <tr>
    <td style="padding:0 10px">
  {% include "email/divider.njk" %}
    </td>
  </tr>
  <tr>
    <td style="padding:0 10px 40px 10px">
      <p style="white-space:pre-wrap;background-color:#F4F4F4;padding:10px;font-size:16px;line-height:20px">%message%</p>
    </td>
  </tr>
</table>
