---
permalink: php/email/contact-thankyou.txt
sitemap:
  ignore: true
---

%email_heading%

Hi %name%,
We have received your message and will endeavour to respond to your enquiry as soon as possible.

Kind regards
Annwyn Tobin

------------

%message%

------------

{{ site.name | safe }}
{{ site.tagline | safe }}

{{ site.address | safe }}
{{ site.address_locality | safe }},
{{ site.address_region | safe }}, {{ site.address_postcode | safe }}
New Zealand

{{ site.short_live_url | safe }}

{{ site.phone | safe }}

