<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    {% include "partials/meta-info.njk" %}
    {% if sitemap.ignore %}
      <meta name="robots" content="noindex" />
    {% endif %}
    {% include "partials/favicon.njk" %}

    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/global.css" %}
    {% include "css/colors.njk" %}
    {% include "css/layout.css" %}
    {% include "css/button.css" %}
    {% endset %}

    <style>
      {% include "css/cookieconsent.min.css" %}
      {{ css | cssmin | safe }}
    </style>

    {% block head %}
    {% endblock %}

    <noscript><style>.req-js,[data-twic-src]{display:none !important}</style></noscript>

  </head>

  <body tabindex="1">
    <div id="top"></div>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {# include "partials/hamburger-menu.njk" #}
    {% set js %}
    {% include "js/init_cookieconsent.njk" %}
    {% endset %}

    <script async src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    {# <script async defer src="{{ site.twic_url }}/?v1"></script> #}
    <script async defer src="{{ site.twic_url }}/?v1&anticipation=1"></script>
    {# <script async src="https://js.stripe.com/v3/"></script> #}
    <script>
      {% include "js/smoothscroll.min.js" %}
      {{ js | jsmin | safe }}
    </script>

    {% block foot %}
    {% endblock %}

  </body>
</html>
