{% extends "layouts/base.njk" %} 
{% block content %}
  <article>
    <h1>{{ title }}</h1>
    <nav>
      <ul role="list">
        {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    {{ content | safe }}
  </article>
{% endblock %}
