{% extends "layouts/page.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
    {% include "css/form.css" %}
    #items {
      display:grid;
      grid-template-columns:1fr auto;
      align-items:center;
    }
    #items > * {
      width:100%;
      height:100%;
      padding:1em 0.5em 1em 0;
    }
    #items > *:nth-child(2n+0) {
      padding-right:0;
    }
    #items > * + *, .top-border {
      border-top:1px solid lightgrey;
    }
    #items > *:nth-child(2) {
      border-top:none;
    }
    #summary {
      display:grid;
      grid-template-columns:auto 1fr auto;
      align-items:center;
      line-height:var(--step-3);
      vertical-align:middle;
    }
    #summary > *:not(.select) {
      width:100%;
      height:100%;
      padding:1em 0.5em 1em 0;
    }
    #summary > *:nth-child(3n+0) {
      padding-right:0;
    }
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  {% include "partials/javascript-warning.njk" %}
  <div id="info" class="horizontal center middle text-center" style="display:none;padding:1em 0;background-color:rgba(0,0,0,0.05);border-bottom:1px solid rgba(0,0,0,0.05)">
    <p id="info-msg" class="info"></p>
  </div>

  <section id="cart" style="min-height:50vh">
    <div class="wrapper text-wrapper">
      <div id="empty-cart" class="vertical center middle flow" style="display:none;--flow-space:2em">
        <h2 class="heading">Your Cart is Empty</h2>
        <p id="cart-expired" class="font-secondary" style="display:none">Your session has timed out</p>
        <a class="button" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span>&nbsp;&nbsp;Continue Shopping
        </a>
      </div>

      <div id="cart-form" class="flow width100" style="display:none;--flow-space:2em">
        <h2 class="heading text-center">Your Cart</h2>
        <div class="shop-panel" style="margin-top:1em">
          <div id="items" class="font-family-alt"></div>
          <hr />
          <div id="summary" class="font-family-alt"></div>
        </div>
        <p id="delivery-message" class="text-center text-lowercase font-family-alt color-shade2">Delivery will be calculated at Checkout</p>

        <div class="buttons swap">
          <a class="button" role="button" href="/shop/" style="min-width:13rem">
            <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span>&nbsp;&nbsp;Continue Shopping
          </a>
          <a id="checkout-button" class="button font-size-500" role="button" href="/checkout/" style="min-width:13rem">
            <span>{{ '/src/svg/shopping-cart.svg' | svgContents | safe }}</span>&nbsp;&nbsp;Checkout
          </a>
        </div>
        {#
        <div class="horizontal center">
          <span id="error-msg" class="error" role="alert" style="visibility:hidden">&nbsp;</span>
        </div>
        #}
      </div>
    </div>
  </section>

  <script>document.addEventListener("DOMContentLoaded",function(){displayCart();},false);</script>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/shop.js" %}
  {% include "js/shop-cart.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
