{% extends "layouts/page.njk" %} 

{% block head %}
  {{ super() }}
  {% set css %}
  {% include "css/shop-product.css" %}
  {% include "css/form.css" %}
  {% endset %}
  <style>
{{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  {% include "partials/javascript-warning.njk" %}
  {% include "partials/view-cart-button.njk" %}

  {% set product = collections.shop_products | getProduct(product_id) %}
  {% set category = collections.shop_categories | getCategory(product.data.category) %}
  {% set uid = 8 | uniqueId %}
  {% set images = product.data.images %}
  {% set prices = product.data.prices %}
  {% set alt_text = title %}
  {% set css %}
  {% for image in images -%}
    .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .slider {
    transform: translateX({{ -loop.index0 * 100 }}%);
    }
    .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .dot-container .slider-dot:nth-of-type({{ loop.index }}) .closed {
    display:block;
    }
    .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .dot-container .slider-dot:nth-of-type({{ loop.index }}) .open {
    display:none;
    }
    .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .slider-controls:nth-of-type({{ loop.index }}) {
    display:block;
    }
  {% endfor %}
  {% endset %}
  <style>
{{ css | cssmin | safe }}
  </style>

  <section class="shop-product wrapper">
    <div class="image-wrapper">
      {% for image in images -%}
        <input class="slider-selector slider-selector-{{ uid }}" type="radio" name="image-{{ uid }}" id="image-{{uid }}-{{ loop.index }}" {{ 'checked' if loop.first }}>
      {% endfor %}
      <div class="image slider-container">
        <ul role="list" class="slider">
          {% for image in images %}
            {% set image_path = image or site.header_image %}
            <li class="slider-item">
              <noscript><img src="{% twic path=image_path, params='/focus=auto/cover=1200x1200' %}" alt="{{ alt_text }}"></noscript>
              <img src="{% lqip path=image_path, params='/focus=auto/cover=1:1' %}" alt="{{ alt_text }}" data-twic-src="{% twic_dyn path=image_path %}" data-twic-transform="cover=1:1/max" data-twic-step="40" data-twic-focus="auto" data-twic-bot="cover=1200x1200" >
            </li>
            {% endfor %}
        </ul>
        {% if images | length > 1 %}
          <div class="dot-container horizontal center">
            {% for image in images %}
              <label role="button" class="slider-dot" for="image-{{ uid }}-{{ loop.index }}"><span class="open">{{ '/src/svg/circle-o.svg' | svgContents | safe }}</span><span class="closed">{{ '/src/svg/circle.svg' | svgContents | safe }}</span></label>
            {% endfor %}
          </div>
          {% for image in images -%}
            <nav class="slider-controls">
              {% if not loop.first %}<label role="button" class="slider-control slider-control-prev" for="image-{{ uid }}-{{ loop.index - 1 }}" title="Previous" aria-label="Previous"><span>{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span></label>{% endif %} 
              {% if not loop.last %}<label role="button" class="slider-control slider-control-next" for="image-{{ uid }}-{{ loop.index + 1 }}" title="Next" aria-label="Next"><span>{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span></label>{% endif %}
            </nav>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <article class="content bg-alt vertical center middle flow">
      <h2 class="heading">{{ product.data.title }}</h2>
      {% if prices | length > 1 %}
        {% if category.data.price_heading %}<h3 class="heading">{{ category.data.price_heading }}</h3>{% endif %}
        <div class="radio-label-wrapper">
          {%- for price in prices %}
          <input id="price-{{ price.id }}" name="price-id" type="radio" value="{{ price.id }}" onclick="showAddToCart()">
          <label class="radio-label text-center round" for="price-{{ price.id }}" x-apple-data-detectors="false">{{ price.label }}</label>
          {%- endfor %}
        </div>
      {% else %}
        <h3 class="heading">{{ prices[0].label }}</h3>
        <input name="price-id" type="hidden" value="{{ prices[0].id }}">
      {% endif %}
      <button id="add-to-cart-button" disabled class="button" onclick="addToCart('{{ product.data.id }}')"><span>{{ '/src/svg/cart-plus.svg' | svgContents | safe }}</span>&nbsp;&nbsp;Add to Cart</button>
      </div>
      <noscript style="margin-bottom:auto"></noscript>
      {% if category.data.footer %}
        <footer class="flow">
          {{ category.data.footer | safe }}
        </footer>
      {% endif %}
      <input name="product-id" type="hidden" value="{{ product.data.id }}">
    </article>
  </section>
  <script>document.addEventListener("DOMContentLoaded",function(){showAddToCart();showViewCart();},false);</script>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/shop.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
