<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Improving readability demo</title>
    <link rel="canonical" href="https://piccalil.li/blog/tips-and-notes-about-freelancing" />
    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/global.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <article class="[ post ] [ flow ]">
      <h1>Tips and notes about freelancing</h1>
      <time datetime="2020-07-31" class="text-500 gap-right-300 color-secondary" >
        <em>31st July, 2020</em></time>
      <p>
      It’s rolling onto 2 years since I went back independent and fully freelance, but
      over the 11+ years I’ve been working in design and the web, I’ve probably done
      around half of that as a freelancer in some capacity.
      </p>
      <p>
      Lots of people are experiencing either redundancies or work issues at the moment
      and although, at the time of writing, we are in a global pandemic: now is a great
      time to go freelance.
      </p>
      <p>
      In this article, I’m going to share with you some tips that have helped me make a
      success out of this freelancing stuff. I hope by the end that you will feel more
      confident about going freelance. I must point out that the advice is mainly
      centered around working with clients, rather than say, doing contract development
      work, but hopefully you’ll get some benefit if that’s you. Let’s dig in.
      </p>
      <h2 id="heading-freedom">Freedom</h2>
      <p>
      The “F” in Freelance stands for “Freedom”. It doesn’t really, but freedom is
      exactly what you get when you go freelance. This freedom for me has enabled two
      key things: ownership of my time and flexibility to diversify what I do.
      </p>
      <p>
      I went back to freelancing in September 2018 after being made redundant from an
      agency. For at least 12 months after that, I worked in a similar role, as a
      freelancer: working only with clients and contracting for other agencies, along
      with a brief stint of guest-lecturing at the local University. Although the work
      was mostly the same—I even inherited a client from my old job—I worked a lot less
      per week. This is because I didn’t work a “normal” 9-5, but instead worked 10-4
      (roughly). Those hours certainly add up.
      </p>
      <p>
      Because the work was quite steady, I didn’t need to do much admin and business
      development stuff, either. This is a very valid way of going about freelance and I
      think it could appeal to someone who is comfortable working almost like they have
      a day job. The reason you work a lot less time like this as a freelancer is
      simple: no company bullshit. You are the boss of your own time and I promise you:
      you will make so much more of the time you do spend working.
      </p>
      <p>
      Back to flexibility again, because being freelance gives you <em>lots</em> of
      that. Although I started working like the above, I knew I wasn’t going to be happy
      doing just client work alone. I’ve done agency stuff for so many years now that
      frankly, even the best client work doesn’t give me much satisfaction. I decided at
      the end of last year that now was the time to build an education business instead
      and that’s where <a href="//piccalil.li">Piccalilli</a>, the site you are on was
      born.
      </p>
      <p>
      The reason I mention this in a section about flexibility is because I’m very much
      transitioning into this new world. I still work for clients, but a lot less so, so
      I can build Piccalilli up. Granted, I’ve worked a hell of a lot more this year
      than last year, but the hope is by next year, I can work
      <strong>even less</strong> than a typical 10-4 day, thanks         </figcaption>
    </figure>
    <p></p>
    <h2 id="heading-don't-wait-to-find-work">Don’t wait to find work</h2>
    <p>
    Now that you are super organised, you’ll know on your schedule where the gaps are.
    Don’t wai    </p>
    <p>Take it easy and good luck if this is the start of your freelancing career 🙂</p>
    </article>
  </body>
</html>


