<style>#page-footer,#page-footer p{font-size:var(--size-300)} #page-footer{margin-top:auto}.three-columns{display:grid;gap:2.5em 0;grid-template-columns:1fr;grid-template-areas:"location" "contact" "follow" "hours" "subscribe";}@media (min-width: 721px){.three-columns{gap:1.5em 0;grid-template-columns:1fr 1fr 1fr;
grid-template-areas:"location hours follow" "contact hours subscribe";} } #footer-location{grid-area:location;} #footer-contact{grid-area:contact;} #footer-follow{grid-area:follow;} #footer-hours{grid-area:hours} #footer-subscribe{grid-area:subscribe} section > * + * {margin-top:2em;} .policies{display:grid;grid-template-columns:1fr;margin:0.5em auto 0 auto;} @media (min-width:750px){.policies{max-width:500px;grid-template-columns:1fr 1fr 1fr;} }</style>

<hr>
<footer id="page-footer" class="bg-alt">
  <section class="wrapper page-wrapper" style="padding-top:2em;padding-bottom:2em">
    <div class="horizontal center middle">
      <button title="Scroll to Top" aria-label="Scroll to Top" class="color-primary req-js cursor-pointer font-size-500" onclick="(function(){document.querySelector('#top').scrollIntoView({behavior:'smooth'});})();return false;" >{{ '/src/svg/chevron-up.svg' | svgContents | safe }}</button>
      <noscript><a href="#top" class="nofocus font-size-500" role="button" tabindex="0" title="Scroll to Top" aria-label="Scroll to Top" style="display:block">{{ '/src/svg/chevron-up.svg' | svgContents | safe }}</a></noscript>
    </div>
    <div class="three-columns">
      <div id="footer-location" class="vertical center flow">
        <h4 class="text-lowercase">Location</h4>
        <a href="{{ site.google_maps }}" title="Open in Google Maps" aria-label="Open in Google Maps" target="_blank" rel="noopener">
          <p>{{ site.address }}<br>{{ site.address_locality }}, {{ site.address_region }}, {{ site.address_postcode }}<br>New Zealand</p>
        </a>
      </div>
      <div id="footer-contact" class="vertical center flow">
        <h4 class="text-lowercase">Contact us</h4>
        <p><a href="{{ site.mailto_obf | safe }}?subject=Flowers Enquiry" title="Send us a message" aria-label="Send us a message">{{ site.email_obf | safe }}</a></p>
        <p><a href="tel:{{ site.phone_intl }}" title="Call now" aria-label="Call now">{{ site.phone }}</a></p>
      </div>
      <div id="footer-follow" class="vertical center flow">
        <h4 class="text-lowercase">Follow us</h4>
        <div class="horizontal space-between color-dark" style="width:150px;margin-top:1.5em">
          <a href="{{ site.facebook }}" target="_blank" rel="noopener" class="social-icon" title="Follow us on Facebook" aria-label="Follow us on Facebook">{{ '/src/svg/facebook-f.svg' | svgContents | safe }}</a>
          <a href="{{ site.instagram }}" target="_blank" rel="noopener" class="social-icon" title="Follow us on Instagram" aria-label="Follow us on Instagram">{{ '/src/svg/instagram.svg' | svgContents | safe }}</a>
          <a href="{{ site.pinterest }}" target="_blank" rel="noopener" class="social-icon" title="Pin us on Pinterest" aria-label="Pin us on Pinterest">{{ '/src/svg/pinterest.svg' | svgContents | safe }}</a>
          <a href="{{ site.google_page }}" target="_blank" rel="noopener" class="social-icon" title="Find us on Google" aria-label="Find us on Google">{{ '/src/svg/google.svg' | svgContents | safe }}</a>
        </div>
      </div>
      <div id="footer-hours" class="vertical center flow">
        <h4 class="text-lowercase">Hours</h4>
        {% include "partials/shop-hours.njk" %}
      </div>
      <div id="footer-subscribe" class="vertical center flow" style="border:2px solid red">
        <h4 class="text-lowercase">Subscribe to our Mailing List</h4>
        <div id="mc_embed_signup" class="width100">
          <form action="https://floriade.us16.list-manage.com/subscribe/post?u=86cd330db9cb5b7a033dae205&amp;id=d73ce91674" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="vertical center flow">
              <input type="email" autocomplete="email" inputmode="email" value="" name="EMAIL" class="input email" id="mce-EMAIL" placeholder="Your Email address" style="max-width:250px" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_86cd330db9cb5b7a033dae205_d73ce91674" tabindex="-1" value=""></div>
              <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="vertical center text-center">
      <p style="white-space:nowrap">© Floriade Ltd {% year %}. All rights reserved</p>
      <div class="policies">
        <p><a href="/terms-and-conditions/">Terms and Conditions</a></p>
        <p><a href="/privacy/">Privacy Policy</a></p>
        <p><a href="/cookie-policy/">Cookie Policy</a></p>
      </div>
    </div>
  </section>
</footer>
