<div id="menu">
  <input class="toggle" type="checkbox" onclick="modal()">
  <nav class="burger">
    <span role="button" title="Menu" aria-label="Menu">{{ '/src/svg/bars.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="close">
    <span role="button" title="Close" aria-label="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <div class="content vertical center">
    <div class="bg-alt vertical center width100 height100" style="padding:1.5em">
      <figure class="logo">
        <img src="/icons/floriade-logo-dark.png" width="320" height="269" alt="Floriade logo" style="opacity:0.66;margin:auto" loading="eager" decoding="async" />
      </figure>
      <br>
      <div>
        <ul role="list">
          {% for item in main_menu %}
            <li>
            <a href="{{ item.url }}" {% if item.url == '/' %}aria-label="{{ site.name }} home"{% else %}aria-label="{{ item.text }}"{% endif %} {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="backdrop"></div>
</div>
<script>function modal(){document.documentElement.setAttribute('data-modal-active',document.querySelector(".toggle").checked);}</script>
