{% if banner_message.message %}
  {% set message = banner_message.message | addNbsp %}
  <aside class="banner-message">
    {% markdown message %}
  </aside>
{% endif %}
<div class="site-menu">
  <nav class="wrapper page-wrapper">
    <ul role="list">
      {% for item in main_menu %}
        <li>
        <a href="{{ item.url }}" {% if item.url == '/' %}aria-label="{{ site.name }} home"{% else %}aria-label="{{ item.text }}"{% endif %} {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
<header id="header" class="header">
  <figure class="background">
    {% set image_path = header_image or site.header_image %}
    <picture>
    <source srcset="{% twic path=image_path, params='/focus=auto/cover=4:1', sizes=image_sizes %}" sizes="100vw" media="(min-aspect-ratio: 155/100)">
    <source srcset="{% twic path=image_path, params='/focus=auto/cover=3:1', sizes=image_sizes %}" sizes="100vw" media="(min-aspect-ratio: 1/1)">
    <source srcset="{% twic path=image_path, params='/focus=auto/cover=2:1', sizes=image_sizes %}" sizes="100vw" media="(min-width:750px)">
    <source srcset="{% twic path=image_path, params='/focus=auto/cover=3:2', sizes=image_sizes %}" sizes="100vw">
    <img src="{% twic path=image_path, params='/resize=1024/focus=auto/cover=3:1' %}" style="background-image:url('{% lqip path=image_path, params='/focus=auto/cover=3:1' %}')" alt="" />
    </picture>
  </figure>
  <div class="content">
    <figure class="logo">
      <a href="/" aria-label="{{ site.name }} home" style="display:block" tabindex="-1">
        <img src="/icons/floriade-logo.png" width="320" height="269" alt="Floriade logo" loading="eager" decoding="async" />
      </a>
    </figure>
    <div class="title flow" style="--flow-space:0">
      <h1>{{ (header_title or title) | addNbsp | safe }}</h1>
      {% if subheading %}<p class="subheading">{{ subheading | addNbsp | safe }}</p>{% endif %}
    </div>
  </div>
</header>
