{% set instagram_images = instagram_gallery | sortISO8601 | reverse | head(12) %}
{% set uid = 8 | uniqueId %}

<style>
{% for item in instagram_images -%}
  .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .slider {
    transform: translateX({{ -loop.index0 * 100 }}%);
  }
  .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .slider-controls:nth-of-type({{ loop.index }}) {
    display:block;
  }
{% endfor %}
</style>

{# Lightbox #}

{% for item in instagram_images -%}
  <input class="slider-selector slider-selector-{{ uid }}" type="radio" name="slider-{{ uid }}" id="slide-{{ uid }}-{{ loop.index }}" onclick="modalOn()">
{% endfor %}
<input class="slider-close" type="radio" name="slider-{{ uid }}" id="close-{{ uid }}" checked onclick="modalOff()">
<input class="slider-captions" type="checkbox" id="captions-{{ uid }}">

<div class="slider-lightbox slider-container">
  <ul role="list" class="slider">
    {% for item in instagram_images -%}
      {% set image_path = (item.thumbnail_url or item.media_url) %}
      <li class="slider-item">
        <noscript><img src="{% insta_twic path=image_path %}" alt="{{ item.caption | urldecode }}"></noscript>
        <img src="{% insta_lqip path=image_path %}" alt="{{ item.caption | urldecode }}" data-twic-src="image:instagram{{ image_path | replace(site.match_url,"") | safe }}" data-twic-transform="max" data-twic-step="40" data-twic-bot="contain=1440x1440" >
        <p class="slider-caption">{{ item.caption | urldecode }}</p>
      </li>
    {% endfor %}
  </ul>
  <label role="button" class="slider-control slider-control-close" for="close-{{ uid }}" title="Close" aria-label="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</label>
  <label role="button" class="slider-control slider-control-captions" for="captions-{{ uid }}" title="Toggle Captions" aria-label="Toggle Captions">{{ '/src/svg/comment-o.svg' | svgContents | safe }}</label>
  {% for item in instagram_images -%}
    <div class="slider-controls">
      {% if not loop.first %}<label role="button" class="slider-control slider-control-prev" for="slide-{{ uid }}-{{ loop.index - 1 }}" title="Previous" aria-label="Previous"><span>{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span></label>{% endif %} 
      {% if not loop.last %}<label role="button" class="slider-control slider-control-next" for="slide-{{ uid }}-{{ loop.index + 1 }}" title="Next" aria-label="Next"><span>{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span></label>{% endif %}
    </div>
  {% endfor %}
</div>

{# Thumbnail Grid #}

<style>#instagram-grid{display:grid;gap:0.5em;grid-template-columns:1fr 1fr;}@media screen and (min-width:750px){ #instagram-grid{grid-template-columns:1fr 1fr 1fr;} }@media screen and (min-width:950px) and (orientation:landscape){ #instagram-grid{grid-template-columns:1fr 1fr 1fr 1fr;} }@media screen and (min-width:1400px){ #instagram-grid{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;} }</style>
<section>
  <div class="wrapper flow" style="--flow-space:2em">
    <h2 class="heading">Instagram</h2>
    <div class="horizontal center"><a href="{{ site.instagram }}" class="button" role="button" target="_blank" rel="noopener">{{ '/src/svg/instagram.svg' | svgContents | safe }}&nbsp;&nbsp;Follow us</a></div>
    <div>
      <ul role="list" class="instagram-grid" id="instagram-grid">
        {% for item in instagram_images -%}
          {% set image_path = (item.thumbnail_url or item.media_url) %}
          <li class="hover-scale">
            <label role="button" class="slider-link" for="slide-{{ uid }}-{{ loop.index }}">
              <noscript><img class="round border-faint" src="{% insta_twic path=image_path, params='/cover=480x480' %}" width="480" height="480" alt="{{ item.caption | urldecode }}"></noscript>
              <img src="{% insta_lqip path=image_path, params="/cover=480x480" %}" class="round border-faint" data-twic-src="image:instagram{{ image_path | replace(site.match_url,"") | safe }}" data-twic-transform="cover=1:1/max" data-twic-step="40" data-twic-bot="cover=480x480" alt="{{ item.caption | urldecode }}">
            </label>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<script>function modalOn(){document.documentElement.setAttribute('data-modal-active',true);}function modalOff(){document.documentElement.setAttribute('data-modal-active',false);}</script>
