<noscript>
  <aside class="banner-error">
    <p>Javascript&nbsp;is currently disabled in your web&nbsp;browser. The&nbsp;online shop cannot function properly unless Javascript is&nbsp;enabled. Learn&nbsp;how to <a target="_blank" rel="noopener" title="Opens in a new page" href="http://www.enable-javascript.com/" style="text-decoration:underline">enable&nbsp;Javascript</a> in your web&nbsp;browser.</p>
  </aside>
</noscript>
