{% set slider_reviews = reviews | filterWeddingReviews(section.wedding or false) | removeLongReviews(300) | shuffle | head(5) %}
{% set uid = 8 | uniqueId %}

<style>
{% for review in slider_reviews -%}
  .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .slider {
    transform: translateX({{ -loop.index0 * 100 }}%);
  }
  .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .dot-container .slider-dot:nth-of-type({{ loop.index }}) {
    opacity:1;
  }
{% endfor %}
}
</style>

{% set postcard_content %}
<h2 class="heading">Reviews</h2>
{% for review in slider_reviews -%}
  <input class="slider-selector slider-selector-{{ uid }}" type="radio" name="review-{{ uid }}" id="review-{{uid }}-{{ loop.index }}" {{ 'checked' if loop.first }}>
{% endfor %}
<div class="slider-container">
  <ul role="list" class="slider">
    {% for review in slider_reviews %}
      <li class="slider-item">
        <blockquote class="flow">
          <p>{{ review.review }}</p>
          <footer>{{ review.name }}</footer>
        </blockquote>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="dot-container horizontal center">
  {% for review in slider_reviews %}
    <label role="button" class="slider-dot" for="review-{{uid }}-{{ loop.index }}">{{ '/src/svg/circle.svg' | svgContents | safe }}</label>
  {% endfor %}
</div>
<a class="button" role="button" href="/reviews/">Read more Reviews</a>
{% endset %}
{% include 'partials/postcard.njk' %}
