{% set product = collections.shop_products | getProduct(product_id) %}
{% set category = collections.shop_categories | getCategory(product.data.category) %}
{% set uid = 8 | uniqueId %}
{% set images = product.data.images %}
{% set alt_text = title %}
{% set css %}
{% for image in images -%}
  .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .slider {
  transform: translateX({{ -loop.index0 * 100 }}%);
  }
  .slider-selector-{{ uid }}:nth-of-type({{ loop.index }}):checked ~ .slider-container .dot-container .slider-dot:nth-of-type({{ loop.index }}) {
  opacity:1;
  }
{% endfor %}
{% endset %}
<style>
{{ css | cssmin | safe }}
</style>

<section class="sproduct wrapper">
  <div class="image-wrapper">
    {% if images | length > 1 %}
      {% for image in images -%}
        <input class="slider-selector slider-selector-{{ uid }}" type="radio" name="image-{{ uid }}" id="image-{{uid }}-{{ loop.index }}" {{ 'checked' if loop.first }}>
      {% endfor %}
      <div class="image slider-container">
        <div>
          {#
          <ul role="list" class="slider">
            {% for image in images %}
              {% set image_path = image or site.header_image %}
              <li class="slider-item">
                <noscript><img src="{% twic path=image_path, params='/focus=auto/cover=1200x1200' %}" alt="{{ alt_text }}"></noscript>
                <img src="{% lqip path=image_path, params='/focus=auto/cover=1:1' %}" alt="{{ alt_text }}" data-twic-src="{% twic_dyn path=image_path %}" data-twic-transform="cover=1:1/max" data-twic-step="40" data-twic-focus="auto" data-twic-bot="cover=1200x1200" >
              </li>
              {% endfor %}
          </ul>
          <div class="dot-container horizontal center">
            <div class="horizontal center">
              {% for image in images %}
                <label role="button" class="slider-dot" for="image-{{uid }}-{{ loop.index }}">{{ '/src/svg/circle.svg' | svgContents | safe }}</label>
              {% endfor %}
            </div>
          </div>
          #}
        </div>
      </div>
    {% else %}
      <div class="image">
        <div>
          {#
          {% set image_path = images[0] or site.header_image %}
          <noscript><img src="{% twic path=image_path, params='/focus=auto/cover=1200x1200' %}" alt="{{ alt_text }}"></noscript>
          <img src="{% lqip path=image_path, params='/focus=auto/cover=1:1' %}" alt="{{ alt_text }}" data-twic-src="{% twic_dyn path=image_path %}" data-twic-transform="cover=1:1/max" data-twic-step="40" data-twic-focus="auto" data-twic-bot="cover=1200x1200" >
          #}
        </div>
      </div>
    {% endif %}
  </div>
  <article class="content bg-alt vertical center middle flow" style="--flow-space:2em">
    <h2 class="heading">Choose a Bouquet Size</h2>
    <div style="--flow-space:1em">
      <ul role="list" class="horizontal">
        {%- for price in product.data.prices %}
        <li>&nbsp;{{ price.label }}&nbsp;</li>
        {%- endfor %}
      </ul>
    </div>
    <a role="button" class="req-js button" href="">Add to Cart</a>
    {% if category.data.footer %}
      <footer class="flow">
        {{ category.data.footer | safe }}
      </footer>
    {% endif %}
  </article>
</section>
