<div id="view-cart" class="horizontal center middle text-center" style="display:none;padding:1em 0;background-color:rgba(0,0,0,0.05);border-bottom:1px solid rgba(0,0,0,0.05)">
  <a class="button" role="button" aria-label="View your Cart" href="/cart/" style="margin:0">
    <span>{{ '/src/svg/shopping-cart.svg' | svgContents | safe }}</span>&nbsp;&nbsp;View your Cart
  </a>
</div>
